/* Ben Moll 
SIU Itec 236 - 001
Date Developed: 2/1/25
Date Tested: 2/2/25



This handles the margins and I set the width of the site here as well as the background color*/
body {
    margin: 10px;
    width: 725px;
    background-color:burlywood
}
/* I placed a few headings for future use*/
header, h1, h2, h3 {
    padding: 10px;
}
p {
    padding-left: 5px;
    padding-right: 5px;
}
li{
    padding-left: 10px;
}
/* This changes the way the image loads on the site, I made the changed that you made and hopefully this all runs smoothly
I also like the way the comments work in CSS */
img {
    border: 2px solid blue;
    border-radius: 10px;
    position: relative;
    width: 100%;
}
nav ul {
    list-style: none;
    padding: 0 ;
    text-align: center;
}
nav ul li {
    display:inline;
    margin: 0 15px;
}
nav ul li a{
    text-decoration:none;
}
main {
    padding: 20px;
}
.container {
    display:flex;
    justify-content: space-between;
}
.left-column {
    width:60%;
    padding:20px;
    border-radius:5px;
}
.right-column{
    width: 35%;
    padding: 20px;
    border-radius:5px;
}
footer{
    text-align:center;
    padding:10px;
    margin-top: 20px
}
 .rollover{
          border-radius: 15px;
          transition: 3s ease-in-out;
        }
.rollover:hover {
          content: url('mountainbike2.jpg')
}
